[submodule "x86"]
	path = x86
	url = https://github.com/flame/how-to-optimize-gemm
	shallow = true
[submodule "kompute"]
	shallow = true
[submodule "OpenBLAS-0.2.20"]
	path = OpenBLAS-0.2.20
	url = https://github.com/tpoisonooo/OpenBLAS
[submodule "aarch64-int8"]
	path = aarch64-int8
	url = https://github.com/tpoisonooo/chgemm
[submodule "mperf"]
	path = mperf
	url = https://github.com/tpoisonooo/mperf
